#flex
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin-top: 8%
    flex-grow: 2

#flex_left
    display: flex
    justify-content: flex-start

#inbox
    width: 300px
    height: 30px
    font-size: 16px
    border-radius: 30px
    border: 1px solid rgb(200, 200, 200)

#inbox:hover
    border: 1px outset rgba(150,150,150, .3)
    box-shadow: 0px 0px 2px 2px rgba(150,150,150, .3)

.break
    flex-basis: 100%
    height: 0

#logo_cent
    width: 440px
    height: auto

#logo_top
    width: 120px
    height: auto

.but
    background-color: rgba(200, 200, 200, .15)
    padding: 3%
    border: 0
    font-size: 14px
    border-radius: 3px
    cursor: pointer
    width: 150px

.but:hover
    border: 1px outset rgba(240,240,240, .3)

a
    color: black
    text-decoration: none
    font-family: sans-serif
    font-size: 14px

a:hover
    text-decoration: underline

#header
    display: flex
    justify-content: flex-end

.text_adv:hover
    cursor: default
    text-decoration: none

.box_adv
    border: 1px solid gray

#search_adv
    background-color: rgb(2, 150, 219)
    color: white
    font-weight: bold